################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/k-medoids/k-medoids.VC.VC.opendb
